<div class="jumbotron text-center">
    <h1>ActionCable chat</h1>
    <p>Real-time chat using WebSockets</p>
    <p><a class="btn btn-primary btn-lg" href="http://edgeguides.rubyonrails.org/action_cable_overview.html" role="button">Learn more</a></p>
</div>
